<!DOCTYPE html>
<html lang="en">
    <%- include('../views/modules/head'); %>
<body>
    <header>
      <div class="cover d-flex justify-content-center align-items-center flex-column"></div>
    </header>
    <%- include('../views/modules/navbar'); %>
<div class="page">
    <a name="pagina"></a>
    <div class="row">
        <div class="col-6">
            <img src="/assets/camera.jpg" alt="">
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="txtP">
                <h1 class="titleText"><span>L</span>orem</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo itaque harum voluptate tempora
                    magni libero ullam officiis nesciunt cum nisi. Illum tenetur voluptates nihil necessitatibus iste
                    similique numquam tempora corporis.</p>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6 d-flex align-items-center">
            <div class="txtP ">
               <h1 class="titleText"><span>L</span>orem</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo itaque harum voluptate tempora
                    magni libero ullam officiis nesciunt cum nisi. Illum tenetur voluptates nihil necessitatibus iste
                    similique numquam tempora corporis.</p>
            </div>
        </div>
        <div class="col-6">
            <img src="/assets/shop.jpg" alt="">
        </div>

    </div>
    <div class="row mt-5">

        <div class="col-6">
            <img src="/assets/office.png" alt="">
        </div>
        <div class="col-6 d-flex align-items-center">
            <div class="txtP">
                 <h1 class="titleText"><span>L</span>orem</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo itaque harum voluptate tempora
                    magni libero ullam officiis nesciunt cum nisi. Illum tenetur voluptates nihil necessitatibus iste
                    similique numquam tempora corporis.</p>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6 d-flex align-items-center">
            <div class="txtP">
                  <h1 class="titleText"><span>L</span>orem</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo itaque harum voluptate tempora
                    magni libero ullam officiis nesciunt cum nisi. Illum tenetur voluptates nihil necessitatibus iste
                    similique numquam tempora corporis.</p>
            </div>
        </div>
        <div class="col-6">
            <img src="/assets/reparar.jpg" alt="">
        </div>
    </div>
</div>
<%- include('../views/modules/footer'); %>
</body>
</html>