<!DOCTYPE html>
<html lang="en">
<%- include('../views/modules/head'); %>
<body>
    <%- include('../views/modules/navbar'); %>
    <div>

    </div>
    <footer>
        <%- include('../views/modules/footer'); %>
    </footer>
</body>
</html>