<!DOCTYPE html>
<html lang="en">
<%- include('../views/modules/head'); %>
  <body>
    <header>
      <div class="row"></div>
      <div class="d-flex justify-content-center align-items-center flex-column">
        <image src='https://cdn.glitch.me/423a592b-8a52-4351-b29e-e42e61cd3353%2Fbone-solid.svg?v=1634095439381'
          width="60" height="100">
        </image>
        <h1>
          Hotel para mascotas
        </h1>
        <image src='https://cdn.glitch.me/423a592b-8a52-4351-b29e-e42e61cd3353%2Fpath620.png?v=1634094583236'
          width="200" height="200">
        </image>
        <h2 class='margen'>
          Perritos A.C
        </h2>
      </div>
    </header>
<div class="container">
  
</div>
    <%- include('../views/modules/navbar'); %>
      <div class="page">
        <a name="pagina"></a>
        <div class="row">
          <div class="col-6">
            <img src="/assets/perrito.jpg" alt="">
          </div>
          <div class="col-6 d-flex align-items-center">
            <div class="txtP">
              <h1 class="titleText"><span>L</span>orem</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo itaque harum voluptate tempora
                magni libero ullam officiis nesciunt cum nisi. Illum tenetur voluptates nihil necessitatibus iste
                similique numquam tempora corporis.</p>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-6 d-flex align-items-center">
            <div class="txtP ">
              <h1 class="titleText"><span>L</span>orem</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo itaque harum voluptate tempora
                magni libero ullam officiis nesciunt cum nisi. Illum tenetur voluptates nihil necessitatibus iste
                similique numquam tempora corporis.</p>
            </div>
          </div>
          <div class="col-6">
            <img src="/assets/veterinario.jpg" alt="">
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-6">
            <img src="/assets/foto1.jpg" alt="">
          </div>
          <div class="col-6 d-flex align-items-center">
            <div class="txtP">
              <h1 class="titleText"><span>L</span>orem</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo itaque harum voluptate tempora
                magni libero ullam officiis nesciunt cum nisi. Illum tenetur voluptates nihil necessitatibus iste
                similique numquam tempora corporis.</p>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-6 d-flex align-items-center">
            <div class="txtP">
              <h1 class="titleText"><span>L</span>orem</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo itaque harum voluptate tempora
                magni libero ullam officiis nesciunt cum nisi. Illum tenetur voluptates nihil necessitatibus iste
                similique numquam tempora corporis.</p>
            </div>
          </div>
          <div class="col-6">
            <img src="/assets/foto2.jpg" alt="">
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="row align-items-center">
        <div class="col">
         
        </div>
        <div class="col">
          <iframe width="800" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3830.7879786747785!2d-93.27375268558431!3d16.23133613938553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85933b563fffffff%3A0x8d5b48ecb3b7c643!2sSoluciones%20Integrales%20de%20C%C3%B3mputo!5e0!3m2!1ses!2smx!4v1584863138780!5m2!1ses!2smx">
        </iframe>
        </div>
        <div class="col">
         
        </div>
      </div>
      <div class="">
        
      </div>
      <br>
      <br>
      <section class="u-align-center u-clearfix u-grey-80 u-section-2" id="carousel_72f0">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
            <div class="u-gutter-0 u-layout">
              <div class="u-layout-row">
                <div class="u-container-style u-image u-layout-cell u-size-30 u-image-1" data-image-width="1280" data-image-height="847">
                  <div class="u-container-layout u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                    <div class="u-border-20 u-border-palette-3-base u-container-style u-group u-shape-rectangle u-group-1">
                      <div class="u-container-layout u-container-layout-2"></div>
                    </div>
                  </div>
                </div>
                <div class="u-align-justify u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                  <div class="u-container-layout u-valign-bottom-sm u-valign-bottom-xs u-valign-middle-lg u-valign-middle-md u-valign-middle-xl u-container-layout-3">
                    <p class="u-custom-font u-font-pt-sans u-text u-text-default u-text-1">Sit amet massa vitae tortor condimentum lacinia quis. Ornare arcu dui vivamus arcu felis bibendum ut. Consectetur adipiscing elit duis tristique sollicitudin. Volutpat lacus laoreet non curabitur. Magna fringilla urna porttitor rhoncus. Ultricies leo integer malesuada nunc vel risus commodo viverra. Ipsum a arcu cursus vitae congue. Imperdiet dui accumsan sit amet nulla facilisi. Tincidunt dui ut ornare lectus sit. Phasellus faucibus scelerisque eleifend donec pretium vulputate sapien nec.&nbsp;Eget gravida cum sociis natoque.&nbsp;</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="u-clearfix u-grey-40 u-valign-middle-sm u-valign-middle-xs u-section-3" id="carousel_6628">
        <div class="u-opacity u-opacity-40 u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
        <div class="u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-31 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle u-container-layout-1">
                  <h1 class="u-custom-font u-font-raleway u-text u-text-1"> dog training</h1>
                  <p class="u-text u-text-palette-2-light-3 u-text-2">Vitae congue mauris rhoncus aenean vel elit scelerisque. Consequat nisl vel pretium lectus quam id leo in vitae. Dictum sit amet justo donec enim diam vulputate. Sociis natoque penatibus et magnis dis parturient.</p>
                  <p class="u-text u-text-palette-2-light-1 u-text-3">Image by <a href="https://www.freepik.com/photos/dog" class="u-border-1 u-border-palette-2-light-1 u-btn u-button-link u-button-style u-none u-text-palette-2-light-1 u-btn-1" target="_blank">Freepik</a>
                  </p>
                  <a href="https://nicepage.com/html5-template" class="u-active-white u-border-none u-btn u-btn-rectangle u-button-style u-custom-font u-font-pt-sans u-hover-white u-palette-2-dark-3 u-radius-0 u-text-active-palette-2-dark-3 u-text-body-alt-color u-text-hover-palette-2-dark-3 u-btn-2">read more</a>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-right-cell u-size-29 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <div class="u-image u-image-circle u-image-1" data-image-width="800" data-image-height="720"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="u-clearfix u-section-4" id="carousel_e307">
        <div class="u-clearfix u-sheet u-sheet-1">
          <div class="u-palette-3-base u-shape u-shape-rectangle u-shape-1"></div>
          <img src="images/g8c31c71c9a26e995556a494ebd1ab17847428eb5b63b184b2bc4a58e3a8c8c29aa372023abee1c557346c7d0c44e392abd5c96aa5df5bb29ec32c9ab119fb531_1280.jpg" class="u-align-left u-image u-image-1" data-image-width="150" data-image-height="99">
          <div class="u-align-left u-container-style u-group u-white u-group-1">
            <div class="u-container-layout u-container-layout-1">
              <h4 class="u-text u-text-1"> Happiness is a </h4>
              <h1 class="u-custom-font u-font-playfair-display u-text u-text-palette-3-base u-text-2">warm puppy</h1>
              <p class="u-text u-text-3">Money can buy you a fine dog, but only love can make him wag his tail</p>
              <a href="https://nicepage.com/k/awards-website-templates" class="u-btn u-btn-rectangle u-button-style u-palette-3-base u-radius-0 u-btn-1">read more</a>
            </div>
          </div>
        </div>
      </section>
      <section class="u-align-center u-clearfix u-palette-5-light-1 u-section-5" id="carousel_b34f">
        <div class="u-clearfix u-sheet u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-sheet-1">
          <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
            <div class="u-layout">
              <div class="u-layout-row">
                <div class="u-container-style u-layout-cell u-left-cell u-size-30 u-layout-cell-1">
                  <div class="u-container-layout u-valign-top u-container-layout-1">
                    <div class="u-palette-3-base u-shape u-shape-circle u-shape-1"></div>
                    <div alt="" class="u-image u-image-circle u-image-1"></div>
                  </div>
                </div>
                <div class="u-container-style u-layout-cell u-right-cell u-size-30 u-layout-cell-2">
                  <div class="u-container-layout u-valign-middle u-container-layout-2">
                    <h2 class="u-text u-text-palette-2-base u-text-1">About Us</h2>
                    <p class="u-text u-text-2">Cras adipiscing enim eu turpis egestas pretium aenean pharetra magna. Tempus urna et pharetra pharetra massa massa ultricies mi quis. Ut faucibus pulvinar elementum <a href="https://nicepage.com/website-templates" class="u-active-none u-border-1 u-border-grey-75 u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-1">integer</a> enim neque volutpat. Augue mauris augue neque gravida in. Venenatis cras sed felis eget velit aliquet sagittis. Morbi leo urna molestie at.<br>
                      <br>Image from <a href="https://www.freepik.com/photos/woman" class="u-active-none u-border-1 u-border-black u-btn u-button-link u-button-style u-hover-none u-none u-text-body-color u-btn-2">Freepik</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      
      <!-- <div class="contact">
        <div class="content">
          <h2>Contactanos</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum dolores iste, veritatis sit nihil unde rem
            mollitia, impedit ipsam quod omnis nulla, adipisci illum? Asperiores voluptatibus et aliquid quasi
            temporibus.</p>
        </div>
        <div class="contenedor">
          <div class="contacInfo">
            <div class="box">
              <div class="icon"></div>
              <div class="text">
                <h3>Direccion</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing </p>
              </div>
            </div>
            <div class="box">
              <div class="icon"></div>
              <div class="text">
                <h3>Telefono</h3>
                <p>123 987 12 12</p>
              </div>
            </div>
            <div class="box">
              <div class="icon"></div>
              <div class="text">
                <h3>Correo electronico</h3>
                <p>pagina.web.django@gmail.com</p>
              </div>
            </div>
          </div>
          <div class="contactForm">
            <div>
              <form>
                <h2>Envianos un correo</h2>
                <div class="inpuBox">
                  <input type="text" name="" id="">
                  <span>Nombre completo</span>
                </div>
                <div class="inpuBox">
                  <input type="text" name="" id="">
                  <span>email</span>
                </div>
                <div class="inpuBox">
                  <textarea required="required"></textarea>
                  <span>Mensaje</span>
                </div>
                <div class="inpuBox">
                  <input type="submit" name="" id="">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> -->
      <footer>
        <%- include('../views/modules/footer'); %>
      </footer>
  </body>

</html>