<!DOCTYPE html>
<html>
<%- include('../views/modules/head'); %>
<link rel="stylesheet" href="styles/pagina-1.css" media="screen">

<body class="u-body">
    <%- include('../views/modules/navbar'); %>
    <section class="u-align-center u-clearfix u-section-1" id="carousel_0a04">
        <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
            <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
                <div class="u-layout">
                    <div class="u-layout-row">
                        <div class="u-container-style u-layout-cell u-left-cell u-size-34 u-layout-cell-1">
                            <div class="u-container-layout u-valign-middle-xs u-container-layout-1">
                                <div class="u-palette-3-light-2 u-shape u-shape-circle u-shape-1"></div>
                                <h2 class="u-text u-text-1">Promociones<br>
                                </h2>
                                <p class="u-text u-text-2">Ut enim ad minim veniam, quis nostrud exercitation ullamco
                                    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                                    mollit anim.</p>
                            </div>
                        </div>
                        <div class="u-container-style u-layout-cell u-right-cell u-size-26 u-layout-cell-2">
                            <div class="u-container-layout u-valign-middle u-container-layout-2">
                                <div alt="" class="u-image u-image-circle u-image-1" data-image-width="1280"
                                    data-image-height="853"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="carousel_dfa1">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h1 class="u-text u-text-black u-text-1">Precios<br>
            </h1>
            <p class="u-text u-text-black u-text-2">Sample text. Lorem ipsum dolor sit amet, consectetur adipiscing elit
                nullam nunc justo sagittis suscipit ultrices.</p>
            <div class="u-clearfix u-gutter-92 u-layout-wrap u-layout-wrap-1">
                <div class="u-gutter-0 u-layout">
                    <div class="u-layout-row">
                        <div
                            class="u-align-center u-container-style u-layout-cell u-left-cell u-palette-1-base u-radius-15 u-shape-round u-size-20 u-layout-cell-1">
                            <div class="u-container-layout u-container-layout-1">
                                <div
                                    class="u-align-center u-container-style u-expanded-width u-group u-radius-15 u-shape-round u-white u-group-1">
                                    <div class="u-container-layout u-container-layout-2">
                                        <h5 class="u-text u-text-palette-1-base u-text-3">Basico</h5>
                                        <h2 class="u-custom-font u-font-arial u-text u-text-palette-1-base u-text-4">
                                            <span style="font-weight: 400;">$</span>50
                                        </h2>
                                        <p class="u-text u-text-palette-1-base u-text-5">por mascota</p>
                                    </div>
                                </div>
                                <p class="u-text u-text-palette-1-light-3 u-text-6">15 usuarios&nbsp;
                                    <br>Cama
                                    <br>Juguetes
                                    <br>Comida
                                </p>
                                <a href="/registro"
                                    class="u-active-palette-1-light-2 u-btn u-btn-round u-button-style u-hover-palette-1-light-2 u-radius-50 u-text-palette-1-base u-white u-btn-1">Comprar
                                </a>
                            </div>
                        </div>
                        <div
                            class="u-align-center u-container-style u-layout-cell u-palette-2-base u-radius-15 u-size-20 u-layout-cell-2">
                            <div class="u-container-layout u-container-layout-3">
                                <div
                                    class="u-align-center u-container-style u-expanded-width u-group u-radius-15 u-shape-round u-white u-group-2">
                                    <div class="u-container-layout u-container-layout-4">
                                        <h5 class="u-text u-text-palette-2-base u-text-7">Normal</h5>
                                        <h2 class="u-custom-font u-font-arial u-text u-text-palette-2-base u-text-8">
                                            <span style="font-weight: 400;">$</span>100
                                        </h2>
                                        <p class="u-text u-text-palette-2-base u-text-9">por mascota</p>
                                    </div>
                                </div>
                                <p class="u-text u-text-palette-1-light-3 u-text-10">15 Users&nbsp;<br>Feature 2
                                    <br>Feature 3 <br>Feature 4
                                </p>
                                <a href="https://nicepage.cloud"
                                    class="u-active-palette-2-light-2 u-border-none u-btn u-btn-round u-button-style u-hover-palette-2-light-2 u-radius-50 u-text-palette-2-base u-white u-btn-2">get
                                    plan</a>
                            </div>
                        </div>
                        <div
                            class="u-align-center u-container-style u-layout-cell u-palette-3-base u-radius-15 u-right-cell u-size-20 u-layout-cell-3">
                            <div class="u-container-layout u-container-layout-5">
                                <div
                                    class="u-container-style u-expanded-width u-group u-radius-15 u-shape-round u-white u-group-3">
                                    <div class="u-container-layout u-container-layout-6"><span
                                            class="u-icon u-icon-circle u-text-palette-1-base u-icon-1"><svg
                                                class="u-svg-link" preserveAspectRatio="xMidYMin slice"
                                                viewBox="0 0 512 512" style="">
                                                <use xlink:href="#svg-e480"></use>
                                            </svg><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px"
                                                id="svg-e480" style="enable-background:new 0 0 512 512;">
                                                <path style="fill:#FFDB0C;"
                                                    d="M466.089,139.805c-25.928,25.928-67.967,25.928-93.895,0s-25.928-67.967,0-93.895L326.284,0  L0,326.284l45.911,45.911c25.928-25.928,67.967-25.928,93.895,0s25.928,67.967,0,93.895l45.91,45.91L512,185.716L466.089,139.805z">
                                                </path>
                                                <path style="fill:#FBBF00;"
                                                    d="M466.089,139.805c-25.928,25.928-67.967,25.928-93.895,0L139.806,372.194  c25.928,25.928,25.928,67.967,0,93.895L185.716,512L512,185.716L466.089,139.805z">
                                                </path>
                                                <g>
                                                    <path style="fill:#FFFFFF;"
                                                        d="M180.791,284.996l45.223,24.408l-24.559-45.072l15.35-15.348l33.615,72.698l-12.127,12.128   l-72.924-33.391L180.791,284.996z">
                                                    </path>
                                                    <path style="fill:#FFFFFF;"
                                                        d="M281.416,290.688l-53.158-53.158l14.6-14.6l53.158,53.158L281.416,290.688z">
                                                    </path>
                                                    <path style="fill:#FFFFFF;"
                                                        d="M312.635,259.468l-53.156-53.157l22.908-22.91c10.406-10.406,27.254-8.535,36.313,0.523   c9.434,9.434,11.381,25.457,0.898,35.938l-8.686,8.686l16.322,16.322L312.635,259.468z M298.186,215.818l7.711-7.711   c1.797-1.797,2.246-5.091-2.021-9.358c-4.418-4.417-7.936-3.444-9.732-1.647l-7.338,7.338L298.186,215.818z">
                                                    </path>
                                                </g>
                                            </svg></span>
                                        <h5 class="u-align-center u-text u-text-palette-3-base u-text-11">VIP</h5>
                                        <h2
                                            class="u-align-center u-custom-font u-font-arial u-text u-text-palette-3-base u-text-12">
                                            <span style="font-weight: 400;">$</span>150
                                        </h2>
                                        <p class="u-align-center u-text u-text-palette-3-base u-text-13">por mascota</p>
                                    </div>
                                </div>
                                <p class="u-text u-text-palette-1-light-3 u-text-14">15 Users&nbsp;<br>Feature 2
                                    <br>Feature 3 <br>Feature 4
                                </p>
                                <a href="https://nicepage.com/website-mockup"
                                    class="u-active-palette-4-light-2 u-btn u-btn-round u-button-style u-hover-palette-4-light-2 u-radius-50 u-text-palette-4-base u-white u-btn-3">get
                                    plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-left-md u-align-left-sm u-align-left-xs u-clearfix u-white u-section-3" id="carousel_999a">
            <div class="u-clearfix u-sheet u-sheet-1">
                <h3 class="u-text u-text-1">Necesitas alojamiento para tu mascota?</h3>
                <h1 class="u-custom-font u-text u-text-font u-text-palette-3-base u-text-2">01</h1>
                <div class="u-expanded-width-sm u-shape u-shape-rectangle u-text-palette-3-light-2 u-shape-1">
                    <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style="">
                        <use xlink:href="#svg-3ded"></use>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                        xml:space="preserve" class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-3ded"
                        style="enable-background:new 0 0 160 160;">
                        <path d="M151.7,132.5c-3.4,6-7.9,11.7-13.3,16.5c-29.2,26.1-54.1-2.3-88.2-3S0,109.5,0,91.6s14.8-31.3,25.3-45.3S33.4,11,51.8,3
        c15.3-6.6,33.6-0.4,51.6,0.7c11.2,0.7,28.8-3.8,38.2,0.4s11.8,15.4,9.2,22.8c-1.9,5.4-5.5,11.6-12.8,16.5
        c-9.3,10.1-4.7,22.9,3.7,33.4c7.8,9.7,17.7,11.7,18.3,23.5C160.4,110.8,157.6,122.2,151.7,132.5L151.7,132.5z"></path>
                    </svg>
                </div>
                <p class="u-text u-text-3"> Nosotros sabemos que lo que mas importa es la estancia de tu mascota en nuetras instalaciones
                    y por eso tenemos un estricto protocolo de cuidados para que tu mascota tenga la mejor estancia posible.</p
                    >
                <a href="registro"
                    class="u-btn u-button-style u-hover-palette-4-base u-palette-3-base u-btn-1">Registrarme</a>
            </div>
        
    </section>
    <section class="u-align-center u-clearfix u-section-4" id="sec-74f8">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-1">
                            <h1 class="u-text u-title u-text-1" data-animation-name="counter"
                                data-animation-event="scroll" data-animation-duration="3000">92</h1>
                            <p class="u-text u-text-2">Perritos atendidios<br>
                            </p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-2">
                            <h1 class="u-text u-title u-text-3" data-animation-name="counter"
                                data-animation-event="scroll" data-animation-duration="3000">30</h1>
                            <p class="u-text u-text-4">Habitaciones<br>
                            </p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-3">
                            <h1 class="u-text u-title u-text-5" data-animation-name="counter"
                                data-animation-event="scroll" data-animation-duration="3000">37</h1>
                            <p class="u-text u-text-6">Equipo<br>
                            </p>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-middle u-container-layout-4">
                            <h1 class="u-text u-title u-text-7" data-animation-name="counter"
                                data-animation-event="scroll" data-animation-duration="3000">87</h1>
                            <p class="u-text u-text-8">Gatitos atendidos<br>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-5" id="sec-ac50">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h2 class="u-text u-text-default u-text-1">Ofrecemos<br>
            </h2>
            <p class="u-text u-text-default u-text-2">Sample text. Click to select the text box. Click again or double
                click to start editing the text.</p>
            <div class="u-expanded-width u-list u-list-1">
                <div class="u-repeater u-repeater-1">
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1"><span
                                class="u-icon u-icon-circle u-palette-3-light-2 u-spacing-21 u-icon-1">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128"
                                    style="">
                                    <use xlink:href="#svg-d181"></use>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 128 128"
                                    id="svg-d181">
                                    <path
                                        d="m40.6 11c2.3 0 4.4 0.9 6.1 2.5 5.4 5.4 10.8 19.2 8.9 21.2 0 0-0.3 0.3-1.5 0.3-5.5 0-16.1-5.7-19.5-9.2-3.4-3.4-3.4-8.9 0-12.2 1.5-1.7 3.7-2.6 6-2.6m46.8 0.1c2.2 0 4.4 0.8 6.1 2.4 3.4 3.4 3.4 8.9 0 12.2-3.4 3.5-14 9.2-19.5 9.2-1.1 0-1.5-0.3-1.5-0.3-1.9-1.9 3.5-15.7 8.9-21.2 1.6-1.5 3.8-2.3 6-2.3m32.6 32.1v16h-52v-16h52m-60 0v16h-52v-16h52m52 23.9v47.9h-44v-47.9h44m-52 0v47.9h-44v-47.9h44m-19.4-64.1c-4.4 0-8.6 1.7-11.7 4.9-6.5 6.5-6.5 17 0 23.5 1.2 1.2 2.8 2.5 4.7 3.8h-25.6c-4.4 0-8 3.6-8 8v24h8v55.8h112v-55.9h8v-24c0-4.4-3.6-8-8-8h-25.6c1.9-1.3 3.6-2.6 4.7-3.8 6.5-6.5 6.5-17 0-23.5-3-3-7.3-4.8-11.7-4.8s-8.7 1.7-11.7 4.8c-4.6 4.6-7.8 11.7-8.9 14.5-2.2 5.4-3 9.5-2.5 12.8h-0.5c0.5-3.2-0.4-7.4-2.5-12.8-1.2-2.8-4.3-9.9-8.9-14.5-3.2-3.1-7.4-4.8-11.8-4.8z">
                                    </path>
                                </svg>
                            </span>
                            <h3 class="u-align-center u-text u-text-3">Promociones<br>
                            </h3>
                            <a href="/promociones" class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-1">
                                enseñame 
                            </a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span
                                class="u-icon u-icon-circle u-palette-3-light-2 u-spacing-20 u-icon-2">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128"
                                    style="">
                                    <use xlink:href="#svg-2323"></use>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 128 128"
                                    id="svg-2323">
                                    <path
                                        d="m44.1 63.9h39.8c4.6 0 8.4-3.9 8.4-8.8v-1.8c0-5.6-2.8-10.7-7.3-13.3-2.4-1.4-5.4-2.9-8.8-4.1 2.8-3 4.6-6.9 4.6-11.3-0.1-9.2-7.6-16.6-16.8-16.6s-16.7 7.4-16.7 16.5c0 4.4 1.7 8.4 4.6 11.3-3.4 1.2-6.5 2.7-8.8 4.1-4.5 2.7-7.3 7.7-7.3 13.3v1.8c-0.1 4.9 3.7 8.9 8.3 8.9zm19.9-48c4.8 0 8.7 3.9 8.7 8.6 0 4.8-3.9 8.6-8.7 8.6s-8.7-3.9-8.7-8.6 3.9-8.6 8.7-8.6zm-20.3 37.3c0-2.7 1.3-5.3 3.4-6.5 4-2.3 10.2-5.1 16.9-5.1s12.9 2.8 16.9 5.1c2.1 1.2 3.4 3.8 3.4 6.5v1.8c0 0.6-0.3 0.9-0.4 0.9h-39.8c-0.1 0-0.4-0.3-0.4-0.9v-1.8zm5.5 40.9c-2.4-1.4-5.4-2.9-8.8-4.1 2.8-3 4.6-7 4.6-11.3 0-9.1-7.5-16.5-16.7-16.5s-16.7 7.4-16.7 16.5c0 4.4 1.7 8.4 4.6 11.3-3.4 1.2-6.5 2.7-8.8 4.1-4.6 2.6-7.4 7.7-7.4 13.3v1.8c0 4.9 3.8 8.8 8.4 8.8h39.8c4.6 0 8.4-3.9 8.4-8.8v-1.8c0-5.6-2.8-10.7-7.4-13.3zm-20.9-24.1c4.8 0 8.7 3.9 8.7 8.6 0 4.8-3.9 8.6-8.7 8.6s-8.7-3.9-8.7-8.6 3.9-8.6 8.7-8.6zm20.3 39.2c0 0.6-0.3 0.9-0.4 0.9h-39.8c-0.1 0-0.4-0.3-0.4-0.9v-1.8c0-2.7 1.3-5.3 3.4-6.5 4-2.3 10.2-5.1 16.9-5.1s12.9 2.8 16.9 5.1c2.1 1.2 3.4 3.8 3.4 6.5v1.8zm72.1-15.1c-2.4-1.4-5.4-2.9-8.8-4.1 2.8-3 4.6-6.9 4.6-11.3 0-9.1-7.5-16.5-16.7-16.5s-16.7 7.4-16.7 16.5c-0.1 4.3 1.7 8.3 4.5 11.3-3.4 1.2-6.5 2.7-8.8 4.1-4.5 2.7-7.3 7.7-7.3 13.3v1.8c0 4.9 3.8 8.8 8.4 8.8h39.8c4.6 0 8.4-3.9 8.4-8.8v-1.8c-0.1-5.6-2.9-10.7-7.4-13.3zm-21-24.1c4.8 0 8.7 3.9 8.7 8.6 0 4.8-3.9 8.6-8.7 8.6s-8.7-3.9-8.7-8.6 3.9-8.6 8.7-8.6zm20.3 39.2c0 0.6-0.3 0.9-0.4 0.9h-39.8c-0.1 0-0.4-0.3-0.4-0.9v-1.8c0-2.7 1.3-5.3 3.4-6.5 4-2.3 10.2-5.1 16.9-5.1s12.9 2.8 16.9 5.1c2.1 1.2 3.4 3.8 3.4 6.5v1.8z">
                                    </path>
                                </svg>
                            </span>
                            <h3 class="u-text u-text-5">Excelente ambiente<br>
                            </h3>
                            <!-- <p class="u-text u-text-6">Sample text. Click to select the text box. Click again or double
                                click to start editing the text.</p> -->
                            <a href="/promociones"
                                class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-text-body-color u-btn-2">learn
                                more</a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span
                                class="u-icon u-icon-circle u-palette-3-light-2 u-spacing-20 u-icon-3">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128"
                                    style="">
                                    <use xlink:href="#svg-54aa"></use>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 128 128"
                                    id="svg-54aa">
                                    <polygon
                                        points="128 3 17 3 17 24 25 24 25 11 120 11 120 24 111 24 111 32 120 32 120 95 111 95 111 103 128 103">
                                    </polygon>
                                    <path d="m25 24h-25v100h111v-100h-86zm78 92h-95v-63h95v63zm0-71h-95v-13h95v13z">
                                    </path>
                                    <path d="m46 74v21h-21v-21h21m8-8h-37v37h37v-37z"></path>
                                    <rect x="62" y="66" width="32" height="8"></rect>
                                    <rect x="62" y="81" width="32" height="8"></rect>
                                    <rect x="62" y="95" width="32" height="8"></rect>
                                </svg>
                            </span>
                            <h3 class="u-text u-text-7">Pre registro<br>
                            </h3>
                            <!-- <p class="u-text u-text-8">Sample text. Click to select the text box. Click again or double
                                click to start editing the text.</p> -->
                            <a href="/regsitro"
                                class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-text-body-color u-btn-3">Registrate</a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4"><span
                                class="u-icon u-icon-circle u-palette-3-light-2 u-spacing-20 u-icon-4">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128"
                                    style="">
                                    <use xlink:href="#svg-4fee"></use>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 128 128"
                                    id="svg-4fee">
                                    <path
                                        d="m119.4 104.8-17.8-30.8c1.6-1.3 2.5-3.4 2.4-5.6l-1.3-10.7 7.4-7.6c2.3-2.3 2.4-6.1 0.2-8.8l-7.4-7.9 1.5-10.8c0.3-3.2-2-6.4-5.2-7l-10.7-2.1-5.2-9.4c-1.1-2.2-3.3-3.5-5.8-3.5-0.8 0-1.5 0.1-2.3 0.4l-10.4 4.4-9.6-4.6c-0.9-0.5-1.9-0.7-3-0.7-0.6 0-1.3 0.1-1.9 0.3-1.6 0.5-2.9 1.5-3.8 3l-5.3 9.4-10.7 1.9c-3.4 0.6-5.7 3.7-5.4 7.1l1.3 10.7-7.4 7.6c-2.3 2.3-2.4 6.1-0.2 8.8l7.4 7.9-1.5 10.8c-0.3 2.3 0.8 4.6 2.7 5.9l-17.9 31.3c-0.7 1.1-0.7 2.6-0.1 3.9v0.1l0.1 0.1c0.8 1.2 2 1.9 3.4 1.9h19.2l8.7 14.9c0.8 1.2 2 1.9 3.4 1.9s2.8-0.8 3.5-2l16.6-27.9 16.8 28.3c0.8 1.2 2 1.9 3.4 1.9s2.8-0.8 3.5-2l8.7-15.3h19.2c1.4 0 2.7-0.8 3.4-1.9 0.9-1.1 0.9-2.7 0.1-3.9zm-34.9 11.3-17.9-30.5 7.4 3.6c0.9 0.4 1.8 0.6 2.9 0.6 2.4 0 4.6-1.2 5.7-3.2l5.3-9.4 5.8-1 15.4 26.6h-14.7c-1.4 0-2.8 0.8-3.5 2l-6.4 11.3zm-40-0.3-6.5-11c-0.8-1.2-2-1.9-3.4-1.9h-14.8l15.5-27 5.4 0.9 5.2 9.3c1.1 2.2 3.3 3.5 5.8 3.5 0.8 0 1.5-0.1 2.3-0.4l0.5-0.1 3.9-1.8 1.4 2.4-15.3 26.1zm-11.9-78.1c1.4-1.4 2.1-3.4 1.8-5.3l-1.2-10 10.2-1.8c1.9-0.3 3.6-1.6 4.6-3.2l4.9-8.8 9 4.3c0.9 0.5 1.9 0.7 2.9 0.7s2-0.2 2.9-0.7l9.2-4.1 4.9 9.1c1.1 1.7 2.7 2.9 4.5 3.1l10 1.9-1.4 10c-0.3 1.9 0.3 4 1.7 5.3l6.9 7.3-7 7.1c-1.5 1.4-2.1 3.4-1.8 5.3l1.2 9.9-9.9 1.6c-2 0.3-3.7 1.6-4.6 3.2l-4.9 8.8-9-4.3c-0.9-0.5-1.9-0.7-2.9-0.7s-2 0.2-2.9 0.7l-9.2 4.2-4.9-9c-1.1-1.7-2.8-2.9-4.6-3.1l-10.1-1.8 1.4-10c0.3-1.9-0.3-4-1.7-5.3l-6.8-7.4 6.8-7z">
                                    </path>
                                    <path
                                        d="m64.5 71c14.7 0 26.6-11.7 26.6-26.2 0-14.4-11.9-26.2-26.6-26.2s-26.6 11.7-26.6 26.2 11.9 26.2 26.6 26.2zm0-44.4c10.2 0 18.6 8.2 18.6 18.3s-8.3 18.3-18.6 18.3c-10.2 0-18.6-8.2-18.6-18.3s8.4-18.3 18.6-18.3z">
                                    </path>
                                </svg>
                            </span>
                            <h3 class="u-text u-text-9">Calidad</h3>
                            <!-- <p class="u-text u-text-10">Sample text. Click to select the text box. Click again or double
                                click to start editing the text.</p> -->
                            <a href="/"
                                class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-text-body-color u-btn-4">Concenos</a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5"><span
                                class="u-icon u-icon-circle u-palette-3-light-2 u-spacing-20 u-icon-5">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128"
                                    style="">
                                    <use xlink:href="#svg-7adb"></use>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 128 128"
                                    id="svg-7adb">
                                    <path
                                        d="m117.4 76c1.5 0 2.7 1.2 2.7 2.7v38.7c0 1.5-1.2 2.7-2.7 2.7h-38.7c-1.5 0-2.7-1.2-2.7-2.7v-38.7c0-1.5 1.2-2.7 2.7-2.7h38.7m0-7.9h-38.7c-5.8 0-10.6 4.8-10.6 10.6v38.7c0 5.8 4.8 10.6 10.6 10.6h38.7c5.8 0 10.6-4.8 10.6-10.6v-38.7c0-5.8-4.8-10.6-10.6-10.6z">
                                    </path>
                                    <path
                                        d="m49.3 7.9c1.5 0 2.7 1.2 2.7 2.7v38.7c0 1.5-1.2 2.7-2.7 2.7h-38.7c-1.5 0-2.7-1.2-2.7-2.7v-38.7c0-1.5 1.2-2.7 2.7-2.7h38.7m0-7.9h-38.7c-5.8 0-10.6 4.8-10.6 10.6v38.7c0 5.8 4.8 10.6 10.6 10.6h38.7c5.8 0 10.6-4.8 10.6-10.6v-38.7c0-5.8-4.8-10.6-10.6-10.6z">
                                    </path>
                                    <path
                                        d="m90 7.9c0.7 0 1.4 0.3 1.9 0.8l27.4 27.4c1 1 1 2.7 0 3.8l-27.4 27.3c-0.5 0.5-1.2 0.8-1.9 0.8s-1.4-0.3-1.9-0.8l-27.3-27.3c-1-1-1-2.7 0-3.8l27.3-27.4c0.6-0.5 1.3-0.8 1.9-0.8m0-7.9c-2.8 0-5.5 1.1-7.5 3.1l-27.3 27.4c-2 2-3.1 4.7-3.1 7.5s1.1 5.5 3.1 7.5l27.4 27.4c2 2 4.7 3.1 7.5 3.1s5.5-1.1 7.5-3.1l27.4-27.4c2-2 3.1-4.7 3.1-7.5s-1.1-5.5-3.1-7.5l-27.5-27.4c-2-2-4.6-3.1-7.5-3.1z">
                                    </path>
                                    <path
                                        d="m49.3 76c1.5 0 2.7 1.2 2.7 2.7v38.7c0 1.5-1.2 2.7-2.7 2.7h-38.7c-1.5 0-2.7-1.2-2.7-2.7v-38.7c0-1.5 1.2-2.7 2.7-2.7h38.7m0-7.9h-38.7c-5.8 0-10.6 4.8-10.6 10.6v38.7c0 5.8 4.8 10.6 10.6 10.6h38.7c5.8 0 10.6-4.8 10.6-10.6v-38.7c0-5.8-4.8-10.6-10.6-10.6z">
                                    </path>
                                </svg>
                            </span>
                            <h3 class="u-text u-text-11">Habitaciones</h3>
                            <!-- <p class="u-text u-text-12">Sample text. Click to select the text box. Click again or double
                                click to start editing the text.</p> -->
                            <a href="#sec-74f8"
                                class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-text-body-color u-btn-5">Ver total de habitaciones</a>
                        </div>
                    </div>
                    <div class="u-align-center u-container-style u-list-item u-repeater-item">
                        <div class="u-container-layout u-similar-container u-valign-top u-container-layout-6"><span
                                class="u-icon u-icon-circle u-palette-3-light-2 u-spacing-20 u-icon-6">
                                <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 128 128"
                                    style="">
                                    <use xlink:href="#svg-0309"></use>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    version="1.1" xml:space="preserve" class="u-svg-content" viewBox="0 0 128 128"
                                    id="svg-0309">
                                    <path
                                        d="m102.7 39.2c0.8 0 1.5 0.3 2.1 0.9l7.8 7.8c4.8 4.8 7.7 11.5 7.4 18.3-0.6 12.6-11 22.6-23.7 22.6h-29c-0.1 0-0.1-0.1-0.1-0.2 1.1-3 4.1-5.2 7.5-5.2h10.5c0.9 0 1.8-0.4 2.3-1.1 0.8-1.1 0.7-2.6-0.3-3.5l-24.9-24.8c-0.6-0.6-0.9-1.3-0.9-2.1s0.3-1.5 0.9-2.1 1.3-0.8 2.1-0.8 1.5 0.3 2.1 0.8l16.9 16.9c0.5 0.5 1.2 0.8 1.9 0.8s1.4-0.3 1.9-0.8 0.8-1.2 0.8-1.9-0.3-1.4-0.8-1.9l-6.7-6.7c-0.6-0.6-0.9-1.3-0.9-2.1s0.3-1.5 0.9-2.1 1.3-0.8 2.1-0.8 1.5 0.3 2.1 0.8l4 4c0.5 0.5 1.2 0.8 1.9 0.8s1.4-0.3 1.9-0.8 0.8-1.2 0.8-1.9-0.3-1.4-0.8-1.9l-2.7-2.7c-0.5-0.5-0.8-1.2-0.8-2s0.3-1.5 0.9-2.1 1.3-0.9 2.1-0.9 1.5 0.3 2.1 0.9l2.7 2.7c0.5 0.5 1.2 0.8 1.9 0.8s1.4-0.3 1.9-0.8 0.8-1.2 0.8-1.9-0.2-1.3-0.7-1.8c-0.8-0.9-1.2-2.1-0.8-3.3 0.5-1.3 1.6-1.9 2.8-1.9m0-8c-2.9 0-5.7 1.1-7.8 3.2-0.7 0.7-1.2 1.4-1.7 2.1 0 0-0.1 0.1-0.1 0-0.4 0-0.8-0.1-1.1-0.1-2.9 0-5.7 1.1-7.8 3.2-1 1-1.8 2.2-2.3 3.4 0 0 0 0.1-0.1 0.1-2.6 0.2-5.1 1.3-6.9 3.2l-0.2 0.2-2.5-2.5c-2-2-4.9-3.2-7.8-3.2s-5.7 1.1-7.8 3.2-3.2 4.9-3.2 7.8c0 3 1.2 5.7 3.2 7.8l15.8 15.8c0.1 0.1 0 0.2-0.1 0.2-5.8 0.8-10.8 4.8-12.8 10.5-1.9 5.2 2 10.7 7.5 10.7h29.1c8.5 0 16.4-3.3 22.4-9.3 6.1-6.1 9.4-14.3 9.3-23-0.1-8.4-3.8-16.4-9.8-22.4l-7.8-7.8c-1.8-2-4.6-3.1-7.5-3.1z">
                                    </path>
                                    <path
                                        d="m82.1 118c0 1.1-0.9 2-2 2h-70.2c-1.1 0-2-0.9-2-2v-108c0-1.1 0.9-2 2-2h70.1c1.1 0 2 0.9 2 2v16.9c0 2.2 1.8 4 4 4s4-1.8 4-4v-16.9c0-5.5-4.5-10-9.9-10h-70.2c-5.4 0-9.9 4.5-9.9 10v108c0 5.5 4.5 10 9.9 10h70.1c5.5 0 9.9-4.5 9.9-10v-10.6c0-2.2-1.8-4-4-4s-4 1.8-4 4v10.6z">
                                    </path>
                                </svg>
                            </span>
                            <h3 class="u-text u-text-13">Contacto directo<br>
                            </h3>
                            <!-- <p class="u-text u-text-14">Sample text. Click to select the text box. Click again or double
                                click to start editing the text.</p> -->
                            <a href="/#contact"
                                class="u-active-none u-border-2 u-border-palette-2-light-1 u-btn u-btn-rectangle u-button-style u-hover-none u-text-body-color u-btn-6">learn
                                more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%- include('../views/modules/footer'); %>

</body>

</html>