<!DOCTYPE html>
<html lang="en">
<%- include('../views/modules/head'); %>
  <body>
    <%- include('../views/modules/navbar'); %>
    <div class="container">
      <div class="row">
        <h1>Registro</h1>
        <div>
          <form method="post" action="/api/v1/mascota/">
            <input type="text" name="nombreM" placeholder="Nombre mascota">
            <input type="text" name="tipoMascota" placeholder="Tipo de mascota">
            <input type="text" name="raza" placeholder="raza de mascota">
            <input type="number" name="peso" placeholder="peso de mascota">
            <input type="text" name="status" placeholder="status">
            <input type="number" name="estatura" placeholder="estatura mascota">
            <input type="number" name="Usuario_idUsuario" id="">
            <button class="btn btn-success" type="submit">Registrar</button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <%- include('../views/modules/footer'); %>
</html>