<footer class="footer">
  <div class="container-footer" >
    <div class="row">
      <div class="col-4 column">
        <h4>Siguenos</h4>
        <ul>
          <li><a href="https://www.facebook.com/"><img src="/assets/facebook-w.png" alt="">Facebook</a></li>
          <br>
          <li><a href="http://instagram.com/"><img src="/assets/instagram.png" alt="">Instagram</a></li>
          <br>
          <li><img src="/assets/gorjeo.png" alt="">Twitter</li>
          <br>
          <li><a href="https://www.whatsapp.com"><img src="../assets/whatsapp-w.png" alt="">WhatsApp</a></li>
        </ul>
      </div>
      <div class="col-4 column">
        <h4>Soporte</h4>
        <ul>
          <li><a href="https://goo.gl/maps/BN8BrFPV5B3vXHJz5"><img src="/assets/mapa.png" alt="">Ubicacion</a></li>
          <br>
          <!-- <li><img src="/assets/apoyar.png" alt=""><a href=""[routerLink]="['/support']" routerLinkActive="router-link-active"> Preguntas frecuentes</a></li>
          <br>
          <li><img src="/assets/mano.png" alt="cotizaciones"> Cotizaciones</li>
          <br>
          <li><img src="/assets/factura1.png" alt="facturas">Facturas</li> -->
        </ul>
      </div>
      <div class="col-4 column">
        <h4>Hospedaje</h4>
        <ul>
          <li><a href="/promociones"><img src="/assets/mano.png" alt="">Planes</a></li>
          <br>
          <li><a href="/promociones"> <img src="/assets/tienda.png" alt="">Promociones</a></li>
          <br>
          <li><a href="/"><img src="/assets/apoyar.png" alt="">Contactanos</a></li>
          <br>
        </ul>
      </div>
    </div>    
    
  </div>
  <div>
  </div>
  <h5 class="container">Perritos A.C</h5>  
  <div class="row container-footer">
    <div class="col-4">
      <p>DeepCode 2021&copy;</p>
    </div>
  </div> 
</footer> 
<!-- maps -->
 