<footer class="footera">
    <div class="container-footera" >
      <div class="row">
        <div class="col-4 columna">
          <h4>Siguenos</h4>
          <ul>
            <li><a href=""><img src="" alt="">Facebook</a></li>
            <br>
            <li><a href="http://instagram.com/"><img src="" alt="">Instagram</a></li>
            <br>
            <li><img src="" alt=""> Twitter</li>
            <br>
            <li><img src="" alt=""> WhatsApp</li>
          </ul>
        </div>
        <div class="col-4 columna">
          <h4>Soporte</h4>
          <ul>
            <li><a><img src="" alt="" >Ubicacion</a></li>
            <br>
            <li><img src="" alt=""><a href=""> Preguntas frecuentes</a></li>
            <br>
            <li><img src=""></li>
            <br>
            <li><img src=""></li>
          </ul>
        </div>
        <div class="col-4 columna">
          <h4 class="mt-10">Hoteleria</h4>
          <ul>
            <li><img src="" alt="">Servicios</li>
            <br>
            <li><img src="" alt="">Ofertas</li>
            <br>
            <li><img src="" alt="">Informacion</li>
            <br>
            <li><img src="" alt="">Ver preregistros</li>
          </ul>
        </div>
      </div>    
      
    </div>
    <div>
    </div>
    <h5 class="container">PERRITOS A.C</h5> 
    <p class="text-center text-muted">© Copyright 2021</p>  
</footer> 