<head>
  <title>PERRITOS A.C</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--<meta name="viewport" content="width=device−width, initial−scale=1.0" />-->
  <link rel="stylesheet" href="styles/style.css" />
  <link rel="shortcut icon"
    href="https://cdn.glitch.me/423a592b-8a52-4351-b29e-e42e61cd3353%2Fpath620.png?v=1634094583236"
    type="image/x-icon" />
  <link rel="stylesheet" href="https://bootswatch.com/5/minty/bootstrap.css">
  <!-- JavaScript Bundle with Popper -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q=" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha256-t8GepnyPmw9t+foMh3mKNvcorqNHamSKtKRxxpUEgFI=" crossorigin="anonymous"></script>
  <script src="/assets/application.js" ></script>
</head>